[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/joshvera/ReactiveCocoa.git
[submodule "External/Archimedes"]
	path = External/Archimedes
	url = https://github.com/github/Archimedes
